extends layout

block content
	div(class="well span9 offset3")	
		h1 Welcome #{user.name}
		p: a(href="/users/logout") Logout

	div(id="main-container" class="offset5")
		ul(class= "nav nav-list well span3")
			li User Name: #{user.username}
			li Email: #{user.email}
			li Password: #{user.password}
				i(class="icon-home icon-white")
				p
				a(href="/users/#{user.name}/edit") Edit Profile
			li
				form(action="/users/#{user.name}" method="POST")
					input(type="hidden", name="_method", value="DELETE")
					button(type="submit", class="btn btn-danger") Delete Profile

		
	

	fieldset
		div(class="well span3")
			legend="Repo Count"
			form(method="POST" action="/users/count")
					input#name(type="text", name="name", placeholder="GitHub User Name")
					button(type="submit", class="btn btn-info") Count